@model IEnumerable<PruebaPracticaGB.Models.EmployeePayHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessEntity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessEntity.Gender)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BusinessEntityId , RateChangeDate=item.RateChangeDate },new {@class="btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new {  id=item.BusinessEntityId , RateChangeDate=item.RateChangeDate }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.BusinessEntityId , RateChangeDate=item.RateChangeDate }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
